div#dialog_upload.g_dialog
	span.g_barhead #{config.i18n('up02')}
	div.g_body
		p
			span Online ID
			input#upload_id
			span.g_button.g_click(data-type="id") Get ID
		div#dialog_progress
		ul.g_list#dialog_upload_list
		div.g_bt
			span.g_button.g_click(data-type="ok") Start
			span.g_button.g_click(data-type="close") Close
