div#dialog_upload.g_dialog
	span.g_barhead
		span #{config.i18n('up02')}
		i
	div.g_body
		p #{config.i18n('up09')}
		p #{config.i18n('up10')}
		div#dialog_upload_all
			span.g_button.g_click(data-type="mark") #{config.i18n('up12')}
			span.g_button.g_click(data-type="high") #{config.i18n('up13')}
		div#dialog_progress
		ul.g_list#dialog_upload_list
		div.g_bt
			span.g_button.g_click(data-type="back") Back
			span.g_button.g_click(data-type="ok") Start
