div#dialog_upload_online.g_dialog
	span.g_barhead
		span #{config.i18n('up01')}
		i
	div.g_body
		div.body
		div.g_bt
			span.g_button.g_click(data-type="prev") Prev
			span.g_button.g_click(data-type="ok") OK
