div#dialog_test.g_dialog
	span.g_barhead
		span Test
		i
	div.g_body
		div.line
			span Name
			input#test_name
		div.line
			span
			input(type="checkbox", name="curr")#test_current
			label(for="curr") #{config.i18n("test02")}
		div.g_bt
			span.g_button.g_click(data-type="close") OK

