div.page0
	p #{config.i18n('ol01')}
	div.btn
		span.g_click(data-type="create0") #{config.i18n('ol03')}
		span.g_click(data-type="create01") #{config.i18n('ol02')}
		span.g_click(data-type="create02") #{config.i18n('ol04')}