div#dialog_intro.g_dialog
    span.g_barhead #{config.i18n('intro01')}
    div.g_body
        div.title
        div.body
        div.g_bt
            span.g_button.g_click(data-type="prev",style="display:none") #{config.i18n('g06')}
            span.g_button.g_click(data-type="next") #{config.i18n('g05')}
            span.g_button.g_click(data-type="cancel") #{config.i18n('g02')}