div#dialog_review.g_dialog
	span.g_barhead #{config.i18n('rev01')}
	div.g_body
		div.select
			i
			label(data-idx="0") #{config.i18n('rev02')}
			i
			label(data-idx="1") #{config.i18n('rev03')}
			i
			label(data-idx="2") #{config.i18n('rev04')}
			span.g_button.g_click(data-type="close") OK
		div.line
			textarea(placeholder="#{config.i18n('rev05')}")#dialog_review_cont #{param.content}

