div#dialog_edit.g_dialog
	span.g_barhead
		span #{config.i18n('sam02')}
		i
	div.g_body
		div.line #{config.i18n("sam03")}: #{num}
		div.line
			span #{config.i18n("sam05")}
			include ../widget/slide
			input#dialog_edit_offset
		div.line.g_tip #{config.i18n("tip02")}
		div.g_bt
			span.g_button.g_click(data-type="close") Save

