div#dialog_bgmedit.g_dialog
    span.g_barhead #{config.i18n('sam11')}
    div.g_body
        div.line
            span #{config.i18n("sam06")}
            span.textfix#dialog_timing_title No audio file
            span.g_button.g_click.right(data-type="load") #{config.i18n("g03")}
        div.line.btn
            span.g_button.g_toolicon.g_click(data-type="play")
                i
            span.g_button.g_toolicon.g_click(data-type="stop")
                i
        div.line.ret
            span
            i BPM
            input#dialog_timing_bpm(value="N/A")
            i Offset
            input#dialog_timing_offset(value="N/A")

        div.g_bt
            span.g_button.g_click(data-type="accept") OK
            span.g_button.g_click(data-type="close") #{config.i18n("g02")}