each item,idx in locals
	if item.type == 'dir'
		li.sub.off
			div
				i
				em
				span #{item.name}
			ul
				each sub in item.list
					li.subitem
						span #{sub.name}
						span.tool
							em.play
							em.stop
	else
		li
			span #{item.name}
			span.tool
				em.play
				em.stop