div#dialog_timing.g_dialog
	span.g_barhead
		span #{config.i18n('sam01')}
		i
	div.g_body
		div.line
			span #{config.i18n("sam06")}
			span.textfix#dialog_timing_title No audio file
			span.g_button.g_click.right(data-type="load") #{config.i18n("g01")}

		div.line.btn
			span.g_button.g_toolicon.g_click(data-type="play")
				i
			span.g_button.g_toolicon.g_click(data-type="stop")
				i
		div.line
			span #{config.i18n("sam09")}
			span.g_button.g_click(data-type="auto") #{config.i18n("sam07")}
			span.g_button.g_click(data-type="manu") #{config.i18n("sam08")}
		div.line.ret
			span #{config.i18n("sam10")}
			i BPM
			input#dialog_timing_bpm(value="N/A")
			i Offset
			input#dialog_timing_offset(value="N/A")
		div.bpm
			div#dialog_timing_tip !{config.i18n("tip04")}
			div#dialog_timing_grid
				span.bar
				div.white_point.left
				div.white_point.right
		div.g_bt
			span.g_button.g_click(data-type="close") Save

