div#dialog_timelist.g_dialog
	span.g_barhead
		span #{config.i18n('time02')}
		i
	div.g_body
		div.left
			div.head.g_barhead
				span Beat
				span BPM
			ul#timelist_list.g_list
			div.line
				span.g_button.g_click(data-type="add")
					i
				span.g_button.g_click(data-type="del")
					i
		div.right
			span BPM
			input#timelist_bpm
			span Beat
			div.line
				input#timelist_beat
				input#timelist_subdivi
				input#timelist_divi
			span.taiko_only #{config.i18n('taiko20')}
			input#timelist_multiplier.taiko_only
			p
				span.g_button.g_click(data-type="sync") Sync

		div.g_bt
			span.g_button.g_click(data-type="close") Save