each item,idx in locals
	li(data-value="#{item.beat.join(',')}",data-multiplier="#{item.multiplier}")
		span #{item.beat[0]+1}:#{item.beat[1]}/#{item.beat[2]}
		if(item.multiplier)
			span #{item.bpm}(#{item.multiplier}x)
		else
			span #{item.bpm}