div#dialog_meta.g_dialog.key
	span.g_barhead
		span #{config.i18n('meta01')}
		i
	div.g_body
		div.left
			span Background image
			div.cover
				div.g_img(name="cover")
				span.g_click(data-type="cover")
		div.meta
			div.g_tab
				span.curr English
				span Original
			div.line
				span #{config.i18n('meta02')}
				input(name="title")
			div.line
				span #{config.i18n('meta03')}
				input(name="artist")
			div.line
				span #{config.i18n('meta13')}
				input(name="source")
			div.bar
			div.line
				span #{config.i18n('meta04')}
				input(name="creator")
			div.line
				span #{config.i18n('meta05')}
				input(name="version")
			div.line
				span #{config.i18n('meta06')}
				select(name="mode")
					option(value="0") Key/Step/DJ
					option(value="3") Catch
					option(value="4") Pad
					option(value="5") Taiko
			div.mode_key
				div.line
					span #{config.i18n("meta09")}
					include ../widget/slide
					em#column_tip 4
			div.mode_catch
				div.line
					span #{config.i18n("meta08")}
					include ../widget/slide
					em#speed_tip 1
			//div.mode_pad
			//	div.line
			//		span #{config.i18n('meta12')}
			//		input(name="interval", value="1.035")

		div.g_bt
			span.g_button.g_click(data-type="ok") #{config.i18n('g07')}
