div#dialog_login.g_dialog
	span.g_barhead
		span #{config.i18n('usr01')}
		i
	div.g_body
		div.user
			span #{config.i18n("usr04")}:
			span.name
		div.login
			div.line
				span #{config.i18n("usr02")}
				input#dialog_name
			div.line
				span #{config.i18n("usr03")}
				input(type="password")#dialog_psw

		div.g_bt
			span.g_button.g_click(data-type="logout") #{config.i18n("usr05")}
			span.g_button.g_click(data-type="ok") OK

