div#dialog_about.g_dialog
	span.g_barhead
		span #{config.i18n('abt01')}
		i
	div.g_body
		div.line
			span #{config.i18n("abt02")}
			p 4.6.7
		div.line
			span #{config.i18n("abt03")}
			p 0.12.2
		div.line
			span #{config.i18n("abt04")}
			p woc2006@gmail.com
