div#dialog_config.g_dialog
	span.g_barhead
		span #{config.i18n('cfg01')}
		i
	div.g_body
		div.cate
			span #{config.i18n('cfg05')}
		div.line
			span #{config.i18n('cfg04')}
			include ../widget/slide
			span#volume_val 0
		div.line
			span.auto #{config.i18n('cfg09')}
			input(type="checkbox")#config_keysound
		div.cate
			span #{config.i18n('cfg03')}
		div.line
			span #{config.i18n('cfg02')}
			input(disabled="true")#config_path
			span.g_button.g_click(data-type="path") Change
		div.cate
			span #{config.i18n("cfg06")}
		div.line
			span #{config.i18n("cfg07")}
			input#config_proxy
			span.cen #{config.i18n("cfg08")}
			input#config_port
		div.line
			span Language
			select#lang_type
				option(value="en") English
				option(value="zh") 简体中文
				option(value="ja") 日本語
		div.cate.pad_marker
			span #{config.i18n("cfg10")}
		div.line.pad_marker
			div.desc #{config.i18n('cfg12')}
			span #{config.i18n('cfg11')}
			input(disabled="true")#config_marker
			span.g_button.g_click(data-type="marker_path") Change
		div.g_bt
			span.g_button.g_click(data-type="close") Save
