div#dialog_layer_edit.g_dialog
	span.g_barhead #{config.i18n('layer01')}
	div.g_body
		div.select
			- var idx=0
			while idx < 20
				i
				-idx++
		div.line
			input(placeholder="#{config.i18n('layer02')}")#layer_edit_color
		div.line
			input(placeholder="#{config.i18n('layer03')}")#layer_edit_name

		div.g_bt
			span.g_button.g_click(data-type="close") Close