div#dialog_welcome.g_dialog
	span.g_barhead
		span #{config.i18n('w01')}
		i
	div.g_body
		div.files
			p #{config.i18n('w02')}:
			ul
		div.links
			p #{config.i18n('w03')}:
			ul
		div.g_bt
				span.g_button.g_click(data-type="open") Open
				span.g_button.g_click(data-type="new") New
				span.g_button.g_click(data-type="import") Import
