div#dialog_export_mcz.g_dialog
    span.g_barhead
        span #{config.i18n('mcz01')}
        i
    div.g_body
        span.directions #{config.i18n('mcz02')}
        ul(style="clear:both")
            li.directions #{config.i18n('mcz03')}
            li.directions #{config.i18n('mcz04')}
            li.directions #{config.i18n('mcz05')}
        div.file_list.g_list
            ul
        div.g_bt
            span.g_button.g_click(data-type="export") Export
