div#dialog_simplify.g_dialog
    span.g_barhead
        span #{config.i18n('menu37')}
        i
    div.g_body
        div.line
            span !{config.i18n("simplify05")}
        div.line
            span#dialog_simplify_difficuty #{config.i18n("simplify01")}
            include ../widget/slide
        div.line.adv-opts
            span#dialog_simplify_min_interval #{config.i18n("simplify02")}
            include ../widget/slide
        div.line.adv-opts
            span#dialog_simplify_same_touch #{config.i18n("simplify03")}
            include ../widget/slide
        div.line.adv-opts.beat-align
            span #{config.i18n("simplify04")}
            input#dialog_beat_align(value="0:0/4")
        div.line.adv-opts
            span #{config.i18n("simplify08")}
        div.g_bt
            span.g_button.g_click(data-type="simulate") #{config.i18n("simplify06")}
            span.g_button.g_click(data-type="close") OK

