div#edit_area.catch
	div#hold_hint
	div#grid
		div.note
		div.sound
		i.judge
	div#range
		div.dash
		div.normal
		div.dash
	div#grid_line
	div#note_area
	div#note_vert
div#select_area
div#edit_tool.g_groupbutton
	div.g_button.press#tool_normal(title="Normal")
		i
	div.g_button#tool_hold(title="Hold")
		i
	div.g_button#tool_rain(title="Rain")
		i