div#dialog_grid.g_dialog
    span.g_barhead
        span #{config.i18n('grid01')}
        i
    div.g_body
        div.line
            span #{config.i18n("grid03")}
            include ../widget/slide
            input#dialog_grid_divide
        div.line
            span #{config.i18n("grid04")}
            include ../widget/slide
            input#dialog_grid_zoom
        div.line.vert
            span #{config.i18n('grid05')}
            include ../widget/slide
            input#dialog_grid_vert
        div#dialog_grid_track_stat.linep
            p #{config.i18n("grid10")}
            -for (var i = 0; i < 3; ++i) {
                div.line.track_stat
                    - for (var j = 0; j < 5; ++j) {
                        span.g_button.g_click(track-index="#{i*5+j}")
                            span.number #{i*5+j+1}
                            span.stat
                    -}
            - }
        div.g_bt
            span.g_button.g_click(data-type="close") Save

