div#dialog_grid_aux.g_dialog
	span.g_barhead
		span #{config.i18n('menu35')}
		i
	div.g_body
		div.line
			span #{config.i18n("grid06")}
			include ../widget/slide
			input#dialog_grid_pos

		div.g_bt
			span.g_button.g_click(data-type="clear") Clear all
			span.g_button.g_click(data-type="close") OK