div#dialog_grid_move.g_dialog
	span.g_barhead
		span #{config.i18n('menu27')}
		i
	div.g_body
		div.line
			span #{config.i18n("grid12")}
			input(value='0')
			input(value='0')
			input(value='0')

		div.g_bt
			span.g_button.g_click(data-type="move") Move