div#dialog_interval.g_dialog
    span.g_barhead
        span #{config.i18n('interval01')}
        i
    div.g_body
        div.line
            span #{config.i18n("interval02")}
            input#dialog_min_interval
        div.line.desc #{config.i18n("interval03")}
            span
        div.g_bt
            span.g_button.g_click(data-type="close") Close

