div#taiko_edit_area
    div.track1.track
    div.track2.track
    div.sound_track.track
    div.judge_line
    img#taiko_resource(src="./static/img/notes_taiko.png")
    span#track_t1
    span#track_t2
    span#track_t3
    canvas#cav_main(width=1089,height=400)
    canvas#cav_mask(width=1089,height=400)
div#edit_tool.g_groupbutton.taiko
    div.g_button.press.n_center(title="Center strike",data-index="00")
        i
        b 1
    div.g_button.n_side(title="Side strike",data-index="01")
        i
        b 2
    div.g_button.n_center_heavy(title="Center heavy strike",data-index="02")
        i
        b 3
    div.g_button.n_side_heavy(title="Side heavy strike",data-index="03")
        i
        b 4
    div.g_button.n_slide(title="Slide",data-index="04")
        i
        b 5
    div.g_button.n_slide_heavy(title="Slide heavy",data-index="05")
        i
        b 6
    div.g_button.n_qiqiu(title="Balloon note",data-index="06")
        i
        b 7
    div#toggle_divergence
        h3#title_divergence
        span#mode_normal.curr
        span#mode_advance
        span#mode_expert
div#select_area