div#edit_area.ubeat
    div#hold_hint
    div#grid
        div.sound
        i.judge
    div#musicbar
    div#ubt_edit_area
        canvas#pad_canvas(width=568,height=568,style="position:absolute;left:0;right:0;z-index:2")
        canvas#pad_edit_canvas(width=568,height=568,style="position:absolute;left:0;right:0;z-index:3")
        - var n = 0
        while n < 4
            - var m = 0
            div.row
                while m < 4
                    div.block(index=n*4 + m)
                    - m++
            - n++
        - var n = 0
    div#grid_line
    div#bar_line
    div#note_area
div#select_area